[DEFAULT]


[gopcdn]

#
# From gopcdn
#

# Manager extend rpc endpoint module string (import string value)
#module = gopcdn.api.rpc

# Endpoint max lock size (integer value)
#max_lock = 100

# Deploy impl, nginx only now (string value)
#deployer = nginx

# Deploy config output path, need add this path in to nginx.conf include
# (string value)
#configdir = /etc/nginx/gopcdn.d

# Default listen ipaddress (IP address value)
#listen = 0.0.0.0

# Default listen ports (list value)
#ports = 80

# Default character_set (string value)
#character_set = utf8

# Enable autoindex (boolean value)
#autoindex = true

# Max checkout time (integer value)
# Minimum value: 30
#checkout_timeout = 3600

# Max checkout time (integer value)
# Minimum value: 30
#upload_timeout = 3600
